body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #82828269;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: 22px;
    letter-spacing: -0.1px;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.container_form {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.title_forms {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1C1C1C;
    margin: 0 0 20px 0;
}

.form_item {
    width: 100%;
    max-width: 570px;
    padding: 35px 35px 16px;
    background: #FFFFFF;
    border-radius: 6px;
    box-sizing: border-box;
}

.form_item:not(:last-child) {
    margin-right: 15px;
}

.label {
    display: inline-grid;
    font-weight: 400;
    letter-spacing: -0.2px;
    color: #545454; 
    width: 245px;
    padding-bottom: 20px;
    cursor: pointer;
    box-sizing: border-box;
}

.label:nth-of-type(1) {
    padding-right: 10px;
}

.label:nth-of-type(3) {
    width: 100%;
    padding-bottom: 7px;
}

.input {
    border-radius: 5px;
    border: 1px solid #E4E4E4;
    height: 38px;
    box-sizing: border-box;
    margin-top: 7px;
    outline: none;
}

.input:focus {
    border: 1px solid #007BFF;
}

.text_form {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;
    margin: 0;
}

.container_form_two {
    display: flex;
    margin-bottom: 13px;
}

.radio-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.radio_lebel {
    display: flex;
    align-items: center;
    letter-spacing: -0.2px;
    color: #545454;
}

.radio_lebel:not(:last-child) {
    margin-right: 20px;
}

.fake-radio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid #E4E4E4;
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 8px;
}

.radio-input:checked + .fake-radio {
    border: 6px solid #007BFF;
}

.container_form_three {
    display: flex;
}

.select_none {
    appearance: none;
    width: 235px;
    color: #545454;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
}

.fake-arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 17px;
}

.relative_wrapper {
    position: relative;
}

.button {
    width: 100%;
    height: 38px;
    background: #007BFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    padding: 8px 0;
}

.subtitle_text {
    width: 410px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #969696;
    margin: 0 auto;
    padding-top: 22px;
}

.text_blue {
    color: #007BFF;
}

.terms {
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 20px;
}

.login {
    text-align: center;
    padding-top: 20px;
}

.account_text {
    letter-spacing: -0.2px;
    color: #545454;
    margin-right: 20px;
}

.login_text {
    letter-spacing: -0.1px;
    color: #007BFF;
    text-decoration: none;
}

.form_container {
    display: flex;
    padding-top: 70px;
}

.input_wrapper {
    position: relative;
    margin-bottom: 5px;
}

.forms_photo {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
}

.img_photo {
    width: 100%;
    max-width: 80px;
    padding-right: 20px;
}

.delete {
    height: 35px;
}

.delete:hover {
    border: 2px solid #007BFF;
}

.input_wrapper .fake_file {
    background-image: url(../img/icon_photo.svg);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position:  90% 50%;
}

.input_wrapper .input {
    display: none;
}

.fake_file {
    display: inline-block;
    width: 138px;
    height: 36px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
}

.fake_file:hover {
    border: 2px solid #007BFF;
}

.lebel_wrapper {
    padding-right: 10px;
}

.button_item {
    width: 100%;
    max-width: 150px;
    background: #007BFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    padding: 8px 0;
    height: 38px;
}
