.main {
  background-color: bisque;
}

.cards_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 280px);
  column-gap: 10px;
  row-gap: 30px;
}

.card {
  width: 100%;
  position: relative;
}
.card::before {
  content: "";
  display: block;
}
.card:hover .card_item {
  transform: rotateY(180deg);
}

.card_item {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card_item img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
}

.card_item.flipped {
  transform: rotateY(180deg);
}

.card_front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
}

.card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border-radius: 8px;
}