@use 'modules';

@media screen and (max-width: 1366px) {
    @mixin text_nav {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 25px;
        line-height: 35px;
        letter-spacing: 0.08em;
        color: #FFFFFF;
        text-transform: capitalize;
    }

    .header {
        padding: 25px 20px;
    }

    .burger {
        display: inline-block;
        width: 42px;
        height: 25px;
        position: relative;
        z-index: 2;


        &::before, &::after{
            content: '';
            display: inline-block;
            width: 100%;
            height: 4px;
            background-color: #fff;
            position: absolute;
        }

        &::before{
            top: 0px;
            left: 0;
        }

        &::after{
            bottom: 0;
            left: 0;
        }

        .line{
            top: 11px;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 4px;
            background-color: #fff;
            position: absolute;
            transition: all .5s ease;
        }

        &.open {
            .line {
                display: none;
                background-color: rgb(192, 238, 235);
            }
        
            &::before {
                transform: rotate(45deg) translate(20px, 15px);
                background-color: #fff;
            } 

            &::after {
                transform: rotate(-45deg) translate(0px, 5px);
                background-color: #fff;
            }
        }
    }

    .list_item {
        position: fixed;
        background-color: #171a28;
        right: 0;
        top: 0;
        bottom: 0;
        width: 75%;
        max-width: 600px;
        flex-direction: column;
        z-index: 2;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        transition: all .5s ease;
        transform: translateX(100%);

        &.open {
            transform: translateX(0);
        }

        li {
            width: 100%;
            text-align: center; 
            padding: 20px 0;
            &:hover {
                background-color: #061329;
                a {
                    color: #fff;
                    
                    &::after {
                        display: none
                    }
                }
            }
        }

        .nav_link {
            @include text_nav;
        }
       
    }

    .source_content {
        padding-left: 50px;
    }

    .info_text_list {
        padding: 0 15px;
    }

    .info_text {
        left: 260px;
        top: 45px;
        bottom: 45px;
        padding: 10px 0;
    }

    .video_text {
        margin: 0 auto;
    }

    .promises_wrapper {
        padding: 30px 0 30px 30px;
        left: 150px;
        top: 45px;
        bottom: 45px;
    }

    .quote {
        padding: 70px 30px 80px 60px;
        box-sizing: border-box;
    }

    .quote_text {
        width: 90%;
    }

    .video {
        padding: 80px 0;
    }

    .reviews_text {
        margin: 0 auto;
        width: 50%;
        text-align: center;
    }

    .reviews {
        padding: 100px 0 100px;
    }

    .reviews_card {
        justify-content: space-around;
    }

    .card_item_one, .card_item_two {
        margin-bottom: 50px;
    }

    .contact_form {
        max-width: 380px;
    }

    .contact_wrapper {
        justify-content: space-around;
    }

    .section_benefits {
        padding: 100px 0;
    }
}


@media screen and (max-width: 767px) {
    @mixin text_title-source {
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 42px;
        color: #FFFFFF;
    }

    @mixin title_source-italic {
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-weight: 400;
        font-size: 30px;
        line-height: 42px;
        color: #689FF2;
    }

    @mixin list_number {
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 38px;
        line-height: 42px;
        color: #FFFFFF;
    }

    @mixin title_benefits {
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 38px;
        color: #FFFFFF;
    }

    @mixin title_benefits-italic {
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-weight: 400;
        font-size: 30px;
        line-height: 38px;
        color: #689FF2;
    }

    @mixin text_quote {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 36px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }

    body {
        padding: 0px 15px;
    }

    .header {
        padding: 15px 15px;;
    }
    
    .section_source {
        padding-top: 10px;
    }

    .source_content {
        width: 100%;
        padding: 110px 10px 410px 20px;
        box-sizing: border-box;
    }

    .source_title {
        @include text_title-source;
    }

    .source_title {
        span {
            @include title_source-italic;
        }
    }

    .info_wrapper {
        flex-direction: column;
    }

    .list_number {
        @include list_number;
    }

    .info_text {
        display: inline-block;
        position: revert;
        padding: 20px 0;
    }

    .info_text_describtion {
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }

    .info_text_describtion {
        .button_source {
            right: 50%;
            transform: translateX(50%);
        }
    }

    .benefits_item {
        width: 100%;
        text-align: center;
        padding: 20px 30px 0px 30px;
    }

    .benefits_item:nth-of-type(3) {
        margin-bottom: 60px;
    }

    .benefits_title {
        margin: 0 auto;
        padding-bottom: 20px;
        @include title_benefits;

        span {
            @include title_benefits-italic;
        }
    }

    .quote {
        padding: 20px 15px;
    }

    .quote_text {
        width: 100%;
        @include text_quote;
    }

    .quote_content {
        padding: 35px 0 0 0;
    }

    .video {
        padding: 50px 0px;
    }

    .tablet {
        background-size: 95% 95%;
        padding: 15px 45px 30px 15px;
    }

    .video_title {
        @include title_benefits;

        span {
            @include title_benefits-italic;
        }
    }

    .promises_wrapper {
        display: inline-block;
        position: revert;
    }

    .reviews {
        padding: 50px 0 100px;
    }

    .promises_content {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .promises_content {
        .button_wrapper {
            border: none;
            width: 55%;
            padding: 40px 55px;
        }
    }

    .promises_text {
        margin-bottom: 50px;
        width: 100%;
    }

    .promises_text:nth-last-of-type(3) {
        margin-bottom: 50px;
    }

    .promises_content {
        .button_wrapper {
            width: 100%;
            border: 1px solid #515773;
        }
    }

    .reviews_text {
        width: 95%;
        margin-bottom: 40px;
    }

    .contact_text {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .contact {
        padding-bottom: 60px;
    }

    .contact_form {
        .button_source {
            right: 50%;
            transform: translateX(50%);
        }

        .button_wrapper {
            text-align: center;
            margin-top: 30px;
        }
    }

    .footer_wrapper {
        flex-direction: column;
        text-align: center;
    }

    .footer_copy, .made {
        margin-bottom: 20px;
    }
}