/* lato-300 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/Lato/lato-v23-latin-300.woff2") format("woff2"), url("../fonts/Lato/lato-v23-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Lato/lato-v23-latin-regular.woff2") format("woff2"), url("../fonts/Lato/lato-v23-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-italic - latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/Lato/lato-v23-latin-italic.woff2") format("woff2"), url("../fonts/Lato/lato-v23-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/Lato/lato-v23-latin-700.woff2") format("woff2"), url("../fonts/Lato/lato-v23-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* playfair-display-regular - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Playfair Display/playfair-display-v30-latin-regular.woff2") format("woff2"), url("../fonts/Playfair Display/playfair-display-v30-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* playfair-display-italic - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/Playfair Display/playfair-display-v30-latin-italic.woff2") format("woff2"), url("../fonts/Playfair Display/playfair-display-v30-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body, html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #091221;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

blockquote {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.section_source {
  padding: 30px 0 0 0;
}

.section_benefits {
  padding: 120px 0;
}

.section_source {
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header {
  padding: 25px 0;
  position: relative;
}
.header::after {
  content: "";
  filter: blur(3px);
  display: inline-block;
  background: linear-gradient(270deg, rgba(22, 25, 38, 0.5) 0%, rgba(22, 25, 38, 0) 24.1%, rgba(22, 25, 38, 0) 47.19%), rgba(22, 25, 38, 0.02);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: inline-block;
  max-width: 110px;
}

.list_item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.list_item li:not(:last-child) {
  margin-right: 30px;
}

.nav_link {
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  text-transform: capitalize;
}
.nav_link::after {
  content: "";
  display: inline-block;
  width: 44px;
  height: 3px;
  background: linear-gradient(96.73deg, #53F3CD 6.73%, rgba(83, 243, 205, 0) 116.9%);
  opacity: 0.3;
  position: absolute;
  bottom: -5px;
  right: 50%;
  transform: translateX(50%);
  opacity: 0;
  transition: all 0.5s ease;
}

.burger {
  display: none;
}

.source_content {
  width: 45%;
  padding: 150px 0 430px 0;
}

.source_title {
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  color: #FFFFFF;
}
.source_title span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  color: #689FF2;
}

.subtitle {
  width: 90%;
  margin-bottom: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.button_wrapper {
  position: relative;
}

.button {
  display: inline-block;
  width: 112px;
  height: 13px;
  background: #53F3CD;
  opacity: 0.3;
  margin-left: 10px;
}

.button_source {
  position: absolute;
  left: 0;
  bottom: 8px;
  z-index: 1;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #53F3CD;
}

.section_info {
  position: relative;
  margin-bottom: -270px;
}

.info_wrapper {
  position: relative;
  transform: translateY(-270px);
}

.info_img {
  display: flex;
  justify-content: flex-start;
}
.info_img img {
  width: 100%;
  max-width: 570px;
}

.info_text {
  padding: 45px 0;
  display: flex;
  background: #091221;
  opacity: 0.9;
  position: absolute;
  top: 45px;
  bottom: 45px;
  left: 400px;
  z-index: 1;
}

.info_text_list {
  padding: 0 50px;
  text-align: center;
}

.list_wrapper_one {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 80px;
}
.list_wrapper_one::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 2px;
  background-color: #85BBB1;
  position: absolute;
  bottom: -40px;
  right: 50%;
  transform: translateX(50%);
}

.list_wrapper_two {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 80px;
}
.list_wrapper_two::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 2px;
  background-color: #85BBB1;
  position: absolute;
  bottom: -40px;
  right: 50%;
  transform: translateX(50%);
}

.list_wrapper_three {
  display: flex;
  flex-direction: column;
  position: relative;
}

.list_number {
  display: inline-block;
  margin-bottom: 15px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 68px;
  line-height: 72px;
  color: #FFFFFF;
}

.list_text {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.info_text_describtion {
  width: 50%;
}
.info_text_describtion .button {
  width: 170px;
}

.sales {
  margin: 35px 0 50px 0;
}

.text_describtion {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.benefits_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.benefits_item {
  width: 48%;
  border-top: 1px solid #515773;
  padding: 20px 55px 50px 35px;
  box-sizing: border-box;
  margin-bottom: 60px;
}

.benefits_item:nth-of-type(3) {
  margin-bottom: 0;
}

.benefits_item:nth-of-type(4) {
  margin-bottom: 0;
}

.benefits_title {
  width: 85%;
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
}
.benefits_title span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #689FF2;
}

.benefits_subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.quote {
  background-image: url(../img/quote.jpg);
  padding: 70px 0 100px 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.quote_content {
  position: relative;
  padding: 30px 0 0 55px;
}
.quote_content img {
  width: 100%;
  max-width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.quote_text {
  width: 64%;
  margin-bottom: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.quote_subtitle {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}

.video {
  padding: 120px 0 120px 0;
}

.tablet {
  background-image: url(../img/ipad.svg);
  background-size: 100% 100%;
  margin: 0 auto;
  padding: 30px 70px 30px 30px;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 50px;
}
.tablet img {
  border-radius: 32px;
  opacity: 0.2;
}

.video_title {
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
}
.video_title span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #689FF2;
}

.video_subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.video_text {
  width: 75%;
}

.promises {
  position: relative;
}

.promises_img {
  display: flex;
  justify-content: flex-start;
}
.promises_img img {
  width: 100%;
  max-width: 600px;
}

.promises_wrapper {
  padding: 75px 0 75px 75px;
  display: flex;
  background: #091221;
  opacity: 0.9;
  position: absolute;
  left: 400px;
  top: 45px;
  bottom: 45px;
  z-index: 1;
}

.promises_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.promises_content .button_wrapper {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 90px;
  border: 1px solid #515773;
  position: relative;
  padding: 40px 90px;
  box-sizing: border-box;
}
.promises_content .button_source {
  top: 30px;
  left: 88px;
}

.promises_text {
  width: 45%;
}

.promises_text:nth-last-of-type(3) {
  margin-bottom: 70px;
}

.promises_title {
  margin-bottom: 15px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  color: #FFFFFF;
  text-transform: capitalize;
}

.promises_subtitle {
  display: block;
  margin-bottom: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.promises_describtion {
  display: block;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.reviews {
  padding: 120px 0 100px 0;
}

.reviews_text {
  width: 35%;
  margin-bottom: 50px;
}

.reviews_title {
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
}
.reviews_title span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #689FF2;
}

.reviews_subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.reviews_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_item_one {
  background-image: url(../img/review-one.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 370px;
  padding: 30px 40px;
  box-sizing: border-box;
  position: relative;
}
.card_item_one .card_text {
  margin-bottom: 25px;
}

.card_item_two {
  background-image: url(../img/review-two.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 370px;
  padding: 30px 40px;
  box-sizing: border-box;
  position: relative;
}
.card_item_two .card_text {
  margin-bottom: 50px;
}

.card_item_three {
  background-image: url(../img/review-three.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 370px;
  padding: 30px 40px;
  box-sizing: border-box;
  position: relative;
}
.card_item_three .card_text {
  margin-bottom: 80px;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(25, 28, 41, 0.6);
}

.card_text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.card_title {
  position: absolute;
  z-index: 2;
  position: relative;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}

.contact {
  border-top: 1px solid #515773;
  border-bottom: 1px solid #515773;
  padding: 60px 0 100px 0;
}

.contact_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact_text {
  width: 40%;
}

.contact_title {
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 39px;
  color: #FFFFFF;
}
.contact_title span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 39px;
  color: #689FF2;
}

.contact_subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.contact_form {
  width: 100%;
  max-width: 470px;
}
.contact_form .input {
  margin-bottom: 40px;
}
.contact_form .button {
  width: 160px;
}

.input {
  padding: 0 0 12px 0;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  width: 100%;
  background-color: transparent;
  outline: none;
  opacity: 0.1;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.5;
}

footer {
  background-color: #091221;
}

.footer {
  padding: 30px 0;
}

.footer_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_copy {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.6;
  text-transform: capitalize;
}

.footer_made {
  padding-right: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.6;
  text-transform: capitalize;
}

.link_item {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  text-transform: capitalize;
}

.footer_link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  text-transform: capitalize;
}
.footer_link a {
  padding-right: 30px;
}

.logo:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.nav_link:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.nav_link:hover::after {
  opacity: 1;
}

.button_wrapper:hover {
  transform: scale(0.9, 0.9);
  transition: all 0.3s ease;
}
.button_wrapper:hover .button {
  background: #689FF2;
}
.button_wrapper:hover .button_source {
  color: #fff;
}

.bg:hover {
  background-color: #515773;
}

.card_item_one:hover, .card_item_two:hover, .card_item_three:hover {
  transform: translateY(-20px);
  transition: all 0.3s ease;
}

.section_source {
  background-image: url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header {
  padding: 25px 0;
  position: relative;
}

.header::after {
  content: "";
  filter: blur(3px);
  display: inline-block;
  background: linear-gradient(270deg, rgba(22, 25, 38, 0.5) 0%, rgba(22, 25, 38, 0) 24.1%, rgba(22, 25, 38, 0) 47.19%), rgba(22, 25, 38, 0.02);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: inline-block;
  max-width: 110px;
}

.list_item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.list_item li:not(:last-child) {
  margin-right: 30px;
}

.nav_link {
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  text-transform: capitalize;
}

.nav_link::after {
  content: "";
  display: inline-block;
  width: 44px;
  height: 3px;
  background: linear-gradient(96.73deg, #53F3CD 6.73%, rgba(83, 243, 205, 0) 116.9%);
  opacity: 0.3;
  position: absolute;
  bottom: -5px;
  right: 50%;
  transform: translateX(50%);
  opacity: 0;
  transition: all 0.5s ease;
}

.burger {
  display: none;
}

.source_content {
  width: 45%;
  padding: 150px 0 430px 0;
}

.source_title {
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  color: #FFFFFF;
}

.source_title span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  color: #689FF2;
}

.subtitle {
  width: 90%;
  margin-bottom: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.button_wrapper {
  position: relative;
}

.button {
  display: inline-block;
  width: 112px;
  height: 13px;
  background: #53F3CD;
  opacity: 0.3;
  margin-left: 10px;
}

.button_source {
  position: absolute;
  left: 0;
  bottom: 8px;
  z-index: 1;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #53F3CD;
}

.section_info {
  position: relative;
  margin-bottom: -270px;
}

.info_wrapper {
  position: relative;
  transform: translateY(-270px);
}

.info_img {
  display: flex;
  justify-content: flex-start;
}

.info_img img {
  width: 100%;
  max-width: 570px;
}

.info_text {
  padding: 45px 0;
  display: flex;
  background: #091221;
  opacity: 0.9;
  position: absolute;
  top: 45px;
  bottom: 45px;
  left: 400px;
  z-index: 1;
}

.info_text_list {
  padding: 0 50px;
  text-align: center;
}

.list_wrapper_one {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 80px;
}

.list_wrapper_one::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 2px;
  background-color: #85BBB1;
  position: absolute;
  bottom: -40px;
  right: 50%;
  transform: translateX(50%);
}

.list_wrapper_two {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 80px;
}

.list_wrapper_two::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 2px;
  background-color: #85BBB1;
  position: absolute;
  bottom: -40px;
  right: 50%;
  transform: translateX(50%);
}

.list_wrapper_three {
  display: flex;
  flex-direction: column;
  position: relative;
}

.list_number {
  display: inline-block;
  margin-bottom: 15px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 68px;
  line-height: 72px;
  color: #FFFFFF;
}

.list_text {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.info_text_describtion {
  width: 50%;
}

.info_text_describtion .button {
  width: 170px;
}

.sales {
  margin: 35px 0 50px 0;
}

.text_describtion {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.benefits_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.benefits_item {
  width: 48%;
  border-top: 1px solid #515773;
  padding: 20px 55px 50px 35px;
  box-sizing: border-box;
  margin-bottom: 60px;
}

.benefits_item:nth-of-type(3) {
  margin-bottom: 0;
}

.benefits_item:nth-of-type(4) {
  margin-bottom: 0;
}

.benefits_title {
  width: 85%;
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
}

.benefits_title span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #689FF2;
}

.benefits_subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.quote {
  background-image: url(../img/quote.jpg);
  padding: 70px 0 100px 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.quote_content {
  position: relative;
  padding: 30px 0 0 55px;
}

.quote_content img {
  width: 100%;
  max-width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.quote_text {
  width: 64%;
  margin-bottom: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.quote_subtitle {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}

.video {
  padding: 120px 0 120px 0;
}

.tablet {
  background-image: url(../img/ipad.svg);
  background-size: 100% 100%;
  margin: 0 auto;
  padding: 30px 70px 30px 30px;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 50px;
}

.tablet img {
  border-radius: 32px;
  opacity: 0.2;
}

.video_title {
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
}

.video_title span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #689FF2;
}

.video_subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.video_text {
  width: 75%;
}

.promises {
  position: relative;
}

.promises_img {
  display: flex;
  justify-content: flex-start;
}

.promises_img img {
  width: 100%;
  max-width: 600px;
}

.promises_wrapper {
  padding: 75px 0 75px 75px;
  display: flex;
  background: #091221;
  opacity: 0.9;
  position: absolute;
  left: 400px;
  top: 45px;
  bottom: 45px;
  z-index: 1;
}

.promises_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promises_content .button_wrapper {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 90px;
  border: 1px solid #515773;
  position: relative;
  padding: 40px 90px;
  box-sizing: border-box;
}

.promises_content .button_source {
  top: 30px;
  left: 88px;
}

.promises_text {
  width: 45%;
}

.promises_text:nth-last-of-type(3) {
  margin-bottom: 70px;
}

.promises_title {
  margin-bottom: 15px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  color: #FFFFFF;
  text-transform: capitalize;
}

.promises_subtitle {
  display: block;
  margin-bottom: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.promises_describtion {
  display: block;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.reviews {
  padding: 120px 0 100px 0;
}

.reviews_text {
  width: 35%;
  margin-bottom: 50px;
}

.reviews_title {
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
}

.reviews_title span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #689FF2;
}

.reviews_subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.reviews_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_item_one {
  background-image: url(../img/review-one.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 370px;
  padding: 30px 40px;
  box-sizing: border-box;
  position: relative;
}

.card_item_one .card_text {
  margin-bottom: 25px;
}

.card_item_two {
  background-image: url(../img/review-two.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 370px;
  padding: 30px 40px;
  box-sizing: border-box;
  position: relative;
}

.card_item_two .card_text {
  margin-bottom: 50px;
}

.card_item_three {
  background-image: url(../img/review-three.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 370px;
  padding: 30px 40px;
  box-sizing: border-box;
  position: relative;
}

.card_item_three .card_text {
  margin-bottom: 80px;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(25, 28, 41, 0.6);
}

.card_text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.card_title {
  position: absolute;
  z-index: 2;
  position: relative;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}

.contact {
  border-top: 1px solid #515773;
  border-bottom: 1px solid #515773;
  padding: 60px 0 100px 0;
}

.contact_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact_text {
  width: 40%;
}

.contact_title {
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 39px;
  color: #FFFFFF;
}

.contact_title span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 39px;
  color: #689FF2;
}

.contact_subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  opacity: 0.8;
  color: #FFFFFF;
}

.contact_form {
  width: 100%;
  max-width: 470px;
}

.contact_form .input {
  margin-bottom: 40px;
}

.contact_form .button {
  width: 160px;
}

.input {
  padding: 0 0 12px 0;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  width: 100%;
  background-color: transparent;
  outline: none;
  opacity: 0.1;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.5;
}

footer {
  background-color: #091221;
}

.footer {
  padding: 30px 0;
}

.footer_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_copy {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.6;
  text-transform: capitalize;
}

.footer_made {
  padding-right: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.6;
  text-transform: capitalize;
}

.link_item {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  text-transform: capitalize;
}

.footer_link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  text-transform: capitalize;
}

.footer_link a {
  padding-right: 30px;
}

@media screen and (max-width: 1366px) {
  .header {
    padding: 25px 20px;
  }

  .burger {
    display: inline-block;
    width: 42px;
    height: 25px;
    position: relative;
    z-index: 2;
  }
  .burger::before, .burger::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
  }
  .burger::before {
    top: 0px;
    left: 0;
  }
  .burger::after {
    bottom: 0;
    left: 0;
  }
  .burger .line {
    top: 11px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    transition: all 0.5s ease;
  }
  .burger.open .line {
    display: none;
    background-color: #c0eeeb;
  }
  .burger.open::before {
    transform: rotate(45deg) translate(20px, 15px);
    background-color: #fff;
  }
  .burger.open::after {
    transform: rotate(-45deg) translate(0px, 5px);
    background-color: #fff;
  }

  .list_item {
    position: fixed;
    background-color: #171a28;
    right: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    max-width: 600px;
    flex-direction: column;
    z-index: 2;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: all 0.5s ease;
    transform: translateX(100%);
  }
  .list_item.open {
    transform: translateX(0);
  }
  .list_item li {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
  .list_item li:hover {
    background-color: #061329;
  }
  .list_item li:hover a {
    color: #fff;
  }
  .list_item li:hover a::after {
    display: none;
  }
  .list_item .nav_link {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    text-transform: capitalize;
  }

  .source_content {
    padding-left: 50px;
  }

  .info_text_list {
    padding: 0 15px;
  }

  .info_text {
    left: 260px;
    top: 45px;
    bottom: 45px;
    padding: 10px 0;
  }

  .video_text {
    margin: 0 auto;
  }

  .promises_wrapper {
    padding: 30px 0 30px 30px;
    left: 150px;
    top: 45px;
    bottom: 45px;
  }

  .quote {
    padding: 70px 30px 80px 60px;
    box-sizing: border-box;
  }

  .quote_text {
    width: 90%;
  }

  .video {
    padding: 80px 0;
  }

  .reviews_text {
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }

  .reviews {
    padding: 100px 0 100px;
  }

  .reviews_card {
    justify-content: space-around;
  }

  .card_item_one, .card_item_two {
    margin-bottom: 50px;
  }

  .contact_form {
    max-width: 380px;
  }

  .contact_wrapper {
    justify-content: space-around;
  }

  .section_benefits {
    padding: 100px 0;
  }
}
@media screen and (max-width: 767px) {
  body {
    padding: 0px 15px;
  }

  .header {
    padding: 15px 15px;
  }

  .section_source {
    padding-top: 10px;
  }

  .source_content {
    width: 100%;
    padding: 110px 0 410px 20px;
  }

  .source_title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    color: #FFFFFF;
  }

  .source_title span {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    color: #689FF2;
  }

  .info_wrapper {
    flex-direction: column;
  }

  .list_number {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 38px;
    line-height: 42px;
    color: #FFFFFF;
  }

  .info_text {
    display: inline-block;
    position: revert;
    padding: 20px 0;
  }

  .info_text_describtion {
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }

  .info_text_describtion .button_source {
    right: 50%;
    transform: translateX(50%);
  }

  .benefits_item {
    width: 100%;
    text-align: center;
    padding: 20px 30px 0px 30px;
  }

  .benefits_item:nth-of-type(3) {
    margin-bottom: 60px;
  }

  .benefits_title {
    margin: 0 auto;
    padding-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #FFFFFF;
  }
  .benefits_title span {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #689FF2;
  }

  .quote {
    padding: 20px 15px;
  }

  .quote_text {
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
  }

  .quote_content {
    padding: 35px 0 0 0;
  }

  .video {
    padding: 50px 10px;
  }

  .tablet {
    background-size: 95% 95%;
    padding: 15px 45px 30px 15px;
  }

  .video_title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #FFFFFF;
  }
  .video_title span {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #689FF2;
  }

  .promises_wrapper {
    display: inline-block;
    position: revert;
  }

  .reviews {
    padding: 50px 0 100px;
  }

  .promises_content {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .promises_content .button_wrapper {
    border: none;
    width: 55%;
    padding: 40px 55px;
  }

  .promises_text {
    margin-bottom: 50px;
    width: 100%;
  }

  .promises_text:nth-last-of-type(3) {
    margin-bottom: 50px;
  }

  .promises_content .button_wrapper {
    width: 100%;
    border: 1px solid #515773;
  }

  .reviews_text {
    width: 95%;
    margin-bottom: 40px;
  }

  .contact_text {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  .contact {
    padding-bottom: 60px;
  }

  .contact_form .button_source {
    right: 50%;
    transform: translateX(50%);
  }
  .contact_form .button_wrapper {
    text-align: center;
    margin-top: 30px;
  }

  .footer_wrapper {
    flex-direction: column;
    text-align: center;
  }

  .footer_copy, .made {
    margin-bottom: 20px;
  }
}