@media screen and (max-width: 1366px) {
    .hamburger {
        position: relative;
        z-index: 1 ;
    }

    .nav_list .list_item {
        position: fixed;
        background-color: grey;
        right: -10000px;
        top: 0;
        bottom: 0;
        width: 75%;
        max-width: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        z-index: 1;
        box-sizing: border-box;
        transition: all .5s ease;

        &:open {
            right: 0;
        }
    }

    .nav_list .nav_link {
        @include text-styling(Lato, 20px, 22px, #000000, 600, uppercase)
    }

    li {
        width: 100%;
        text-align: center;
        padding: 15px 0;
        &:hover {
            background-color: rgb(178, 246, 242);
            .nav_list .nav_link {
                color: #fff;
                }
            }
        }
        
}