.item_city:hover img, .item_nature:hover img, .item_people:hover img {
  height: 100%;
  filter: brightness(1);
  transition: all 0.5s ease;
}
.item_city:hover .icon, .item_nature:hover .icon, .item_people:hover .icon {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0px;
  display: flex;
  justify-content: space-between;
}
.item_city .icon_heart, .item_city .icon_download, .item_nature .icon_heart, .item_nature .icon_download, .item_people .icon_heart, .item_people .icon_download {
  display: flex;
  justify-content: center;
  padding: 12px;
  background: rgba(191, 191, 191, 0.7);
  border-radius: 8px;
  margin: 25px 20px 0;
  cursor: pointer;
}
.item_city .icon_heart:hover, .item_city .icon_download:hover, .item_nature .icon_heart:hover, .item_nature .icon_download:hover, .item_people .icon_heart:hover, .item_people .icon_download:hover {
  background: #E0E0E0;
}

.icon_heart:hover .icon-icon-heart::before {
  color: red;
}

.icon_download:hover .icon-icon-download::before {
  color: red;
}