@mixin text-styling($ff, $fz, $lh, $color, $fw, $ls, $tt) {
    font-family: $ff;
    font-size: $fz;
    line-height: $lh;
    color: $color;
    font-weight: $fw;
    letter-spacing: $ls;
    text-transform: $tt;
}

.header {
    background: #fff;
    padding: 40px 0; 
    width: 100%;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    display: inline-block;
    max-width: 180px;
}

.list_item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li:not(:last-child) {
        margin-right: 40px;
    }
}

.nav_link {
    @include text-styling('Jost', 20px, 30px, #292F36, 400, 0.4px, capitalize)
}

.section_interior {
    background-image: url(../img/room.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.interior_content {
    width: 100%;
    max-width: 595px;
    padding: 195px 0 250px 0;
    
    
    .interior_title {
        padding-bottom: 20px;
        @include text-styling('DM Serif Display', 80px, 96px, #292F36, 400, 0.22px, capitalize)
    }

    .interior_text {
        margin-bottom: 35px;
        @include text-styling('Jost', 22px, 33px, #4D5053, 400, 0.22px, none)
    }

    .interior_button {
        background-color: #292F36;
        width: 100%;
        max-width: 207px;
        border: 2px solid #292F36;
        border-radius: 18px;
        display: flex;
        align-items: center;
        padding: 20px 0 20px 35px;
        box-sizing: border-box;
        &:hover {
            background-color: #e8ccaf;
        }

        img {
            width: 26px;
            display: inline-block;
            margin-left: 25px;
        }
        @include text-styling('Jost', 18px, 27px, #FFFFFF, 400, 0.72px, capitalize)
    }
}

.text_cards {
    display: flex;
    flex-wrap: wrap;
    padding: 175px 50px;
}

.cards_item {
    width: 100%;
    max-width: 320px;
    text-align: center;

    .card_title {
        padding-bottom: 20px;
        @include text-styling('DM Serif Display', 25px, 39px, #292F36, 400, 0.22px, capitalize)
    }

    .card_text {
        padding-bottom: 70px;
        @include text-styling('Jost', 22px, 33px, #4D5053, 400, 0.22px, none)
    }

    .card_link {
        display: flex;
        justify-content: center;
        img {
            width: 24px;
            display: inline-block;
            padding-left: 10px;
        }
        @include text-styling('Jost', 18px, 27px, #4D5053, 400, 0.36px, capitalize)
    }
}

.cards_item:not(:last-child) {
    margin-right: 70px;
}

.kitchen_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 140px;
}

.block_text {
    width: 43%;

    .kitchen_title {
        margin: 40px 0;
        @include text-styling('DM Serif Display', 50px, 65px, #292F36, 400, 0.22px, capitalize)
    }

    .kitchen_text {
        margin-bottom: 30px;
        @include text-styling('Jost', 22px, 33px, #4D5053, 400, 0.22px, none)
    }

    .call {
        display: flex;
        margin-bottom: 50px;
    
        .call_item {
            width: 95px;
            height: 95px;
            background-color: #F4F0EC;
            border-radius: 100px;
        }
    
        .call_text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 20px;
    
            a {
                @include text-styling('Jost', 24px, 36px, #4D5053, 400, 0.22px, none)
            }
    
            span {
                @include text-styling('Jost', 22px, 33px, #4D5053, 400, 0.22px, capitalize)   
            }
        }
    }
    
    .call_link {
        background-color: #292F36;
        width: 100%;
        max-width: 263px;
        padding: 22px 0 22px 35px;
        border: 2px solid #292F36;
        border-radius: 18px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        &:hover {
            background-color: #e8ccaf;
        }

        img {
            width: 26px;
            display: inline-block;
            margin-left: 25px;
        }
        @include text-styling('Jost', 18px, 27px, #FFFFFF, 400, 0.72px, capitalize)
    }
}

.block_img {
    width: 50%;

    img {
        border-top-right-radius: 326px;
        border-bottom-left-radius: 123px;
    }
}

.section_people {
    .people_content {
        margin: 0 auto;
        background-color: #F4F0EC;
        border-radius: 70px;
        padding: 100px 0 120px 0;

        .title {
            width: 100%;
            max-width: 480px;
            text-align: center;
            margin: 0 auto;
            @include text-styling('DM Serif Display', 45px, 58px, #292F36, 400, 0.22px, capitalize)
        }
    }
}

.people_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 45px 0px 0 0px;

    .cards_wrapper {
        width: 100%;
        max-width: 355px;
        background-color: white;
        border-radius: 30px;
        padding: 50px 45px 35px;
        box-sizing: border-box;
    }

    .people {
        display: flex;
        margin-bottom: 25px;

        img {
            width: 100%;
            max-width: 77px;
            border-radius: 50%;
        }
    }

    .people_text {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .people_card_title {
       @include text-styling('DM Serif Display', 25px, 38px, #292F36, 400, 0.22px, capitalize) 
    }

    .people_card_subtitle {
        @include text-styling('Jost', 18px, 27px, #4D5053, 400, 0.22px, capitalize)
    }

    .people_card_text {
        width: 100%;
        max-width: 275px;
        @include text-styling('Jost', 20px, 30px, #4D5053, 400, 0.22px, none)
    }
}

.cards_wrapper:not(:last-child) {
    margin-right: 15px;
}

.section_brand {
    padding: 140px 0 115px 0;

    .wrapper_brand {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        a {
            transition: all .3s ease;
            &:hover {
                transform: scale(1.2);
            }
        }

        .logo_item {
            width: 100%;
            max-width: 150px;

            img {
                width: auto;
            }
        }
    }
}

.section_projects {
    padding-bottom: 140px;
    .projects_block {
        text-align: center;
        width: 100%;
        max-width: 785px;
        margin: 0 auto;
    }

    .projects_title {
        margin-bottom: 20px;
        @include text-styling('DM Serif Display', 47px, 62px, #292F36, 400, 0.22px, capitalize)
    }

    .projects_text {
        margin-bottom: 70px;
        @include text-styling('Jost', 22px, 33px, #4D5053, 400, 0.22px, none)
    }

    .project_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .projects_cards:not(:last-child) {
        margin-bottom: 60px;
    }

    .projects_cards_item {
        width: 49%;
        padding-bottom: 60px;
        
        img {
            border-top-right-radius: 80px;
        }
        
        .projects_cards_text {
            display: flex;
            justify-content: space-between;
            margin-top: 25px;
        }

        .text_block_title {
            @include text-styling('DM Serif Display', 24px, 38px, #292F36, 400, 0.22px, capitalize)
        }

        .text_block_subtitle {
            @include text-styling('Jost', 22px, 33px, #4D5053, 400, 0.22px, capitalize)
        }

        .arrow {
            width: 70px;
            height: 70px;
            background: #F4F0EC;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                transform: scale(1.2);
                border: 1px solid #CDA274;
            }

            .img_arrow {
                width: 9px;
                height: 16px;
            }
        }
    }
}

.section_results {
    background-color: #F4F0EC;
    padding: 140px 0;

    .results_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .content_card {
        width: 100%;
        max-width: 288px;
        border-right: 1px solid #CDA274;
        text-align: center;
    }

    .content_number {
        display: block;
        margin-bottom: 50px;
        @include text-styling('DM Serif Display', 85px, 128px, #CDA274, 400, 1.7px, none)
    }

    .contant_text {
        @include text-styling('Jost', 22px, 33px, #4D5053, 400, 0.22px, capitalize)
    }
}

.section_blogs {
    padding: 140px 0;
    .blogs_content {
        text-align: center;
        width: 100%;
        max-width: 590px;
        margin: 0 auto;
    }

    .blogs_content_title {
        margin-bottom: 20px;
        @include text-styling('DM Serif Display', 48px, 62px, #292F36, 400, 0.22px, capitalize)
    }

    .blogs_content_text {
        margin-bottom: 70px;
        @include text-styling('Jost', 22px, 33px, #4D5053, 400, 0.22px, none)
    }
}

.blog_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card_wrapper {
        border: 1px solid #E7E7E7;
        border-radius: 62px;
        padding: 20px 20px 40px 20px;
        width: 100%;
        max-width: 390px;
        box-sizing: border-box;

        img {
            border-top-right-radius: 45px;
            border-top-left-radius: 45px;
        }

        .blog_card_title {
            margin: 15px 0 20px 0;
            @include text-styling('DM Serif Display', 25px, 35px, #292F36, 400, 0.5px, capitalize)
        }

        .date_wrapper {
            display: flex;
            justify-content: space-between;
             align-items: center;
            @include text-styling('Jost', 22px, 33px, #4D5053, 400, 0.22px, none)
        }

        .arrow {
            width: 70px;
            height: 70px;
            background: #F4F0EC;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                transform: scale(1.2);
                border: 1px solid #CDA274;
            }

            .img_arrow {
                width: 9px;
                height: 16px;
            }
        }
    }
}

.section_contact {
    .contact_block {
        text-align: center;
        margin: 0 auto;
        background-color: #292F36;
        border-radius: 70px;
        padding: 100px 0 95px 0;
    }

    .contact_block_title {
        margin-bottom: 10px;
        @include text-styling('DM Serif Display', 50px, 75px, #FFFFFF, 400, 0.22px, none)
    }

    .contact_block_text {
        display: block;
        margin-bottom: 70px;
        @include text-styling('Jost', 22px, 33px, #FFFFFF, 400, 0.22px, capitalize)
    }

    .contact_block_button {
        background: #CDA274;
        width: 100%;
        max-width: 240px;
        border: 2px solid #CDA274;
        box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
        border-radius: 18px;
        padding: 20px 0 20px 35px;
        box-sizing: border-box;
        &:hover {
            background-color: #877e74;
        }
        span {
            padding-left: 20px;
        }
        @include text-styling('Jost', 18px, 27px, #FFFFFF, 400, 0.22px, capitalize)
    }
}

.footer {
    padding: 130px 0 110px 0;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 35px;
    .footer_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer_logo {
        width: 30%;
        img {
            display: inline-block;
            max-width: 180px;
            margin-bottom: 15px;
        }
    }

    .footer_text {
        margin-bottom: 30px;
        @include text-styling('Jost', 22px, 33px, #4D5053, 400, 0.22px, none)  
    }

    .footer_icon {
        a {
            transition: all .5s ease;
        }
        a:not(:last-child) {
            padding-right: 40px;
        }
        .icon_svg {
           &:hover {
            transform: scale(1.2);
           }
        }
    }

    .footer_title {
        margin-bottom: 20px;
        @include text-styling('DM Serif Display', 25px, 38px, #292F36, 400, 0.22px, capitalize)
    }

    .footer_pages, .footer_explore {
        width: 15%;
    }

    .footer_contact {
        width: 27%;

        a {
            display: block;
            margin-bottom: 30px;
        }
    }
    
    .footer_list {
        li {
            padding-bottom: 30px;
        }
        @include text-styling('Jost', 22px, 33px, #4D5053, 400, 0.22px, capitalize)
    }
}

.footer_subtitle {
    display: block;
    padding-bottom: 35px;
    text-align: center;
    @include text-styling('Jost', 22px, 33px, #4D5053, 400, 0.22px, capitalize)
}

.footer_link {
    @include text-styling('Jost', 22px, 33px, #CDA274, 400, 0.22px, capitalize)
}



    
