/* jost-regular - latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Jost/jost-v14-latin-regular.woff2") format("woff2"), url("../fonts/Jost/jost-v14-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-serif-display-regular - latin */
@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DM Serif Display/dm-serif-display-v10-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/DM Serif Display/dm-serif-display-v10-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DM Serif Display/dm-serif-display-v10-latin-regular.woff2") format("woff2"), url("../fonts/DM Serif Display/dm-serif-display-v10-latin-regular.woff") format("woff"), url("../fonts/DM Serif Display/dm-serif-display-v10-latin-regular.ttf") format("truetype"), url("../fonts/DM Serif Display/dm-serif-display-v10-latin-regular.svg#DMSerifDisplay") format("svg");
  /* Legacy iOS */
}
body, html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background: #fff;
  padding: 40px 0;
  /*position: fixed;*/
  width: 100%;
  top: 0;
  left: 0;
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: inline-block;
  width: 177px;
}

.list_item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.list_item li {
  margin-right: 40px;
}

.nav_link {
  font-family: "Jost";
  font-size: 20px;
  line-height: 30px;
  color: #292F36;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.section_interior {
  background-image: url(../img/room.jpg);
  background-repeat: no-repeat;
}

.interior_content {
  width: 100%;
  max-width: 595px;
  padding: 195px 0 250px 0;
}
.interior_content .interior_title {
  padding-bottom: 20px;
  font-family: "DM Serif Display";
  font-size: 80px;
  line-height: 96px;
  color: #292F36;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.interior_content .interior_text {
  margin-bottom: 35px;
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
  color: #4D5053;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.interior_content .interior_button {
  background-color: #292F36;
  padding: 22px 67px 22px 35px;
  border: 2px solid #292F36;
  border-radius: 18px;
  margin-top: 35px;
  font-family: "Jost";
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 0.72px;
}

.text_cards {
  display: flex;
  flex-wrap: wrap;
  padding: 175px 50px;
}

.cards_item {
  width: 100%;
  max-width: 320px;
  text-align: center;
}
.cards_item .card_title {
  padding-bottom: 20px;
  font-family: "DM Serif Display";
  font-size: 25px;
  line-height: 39px;
  color: #292F36;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.cards_item .card_text {
  padding-bottom: 70px;
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
  color: #4D5053;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.cards_item .card_link {
  font-family: "Jost";
  font-size: 18px;
  line-height: 27px;
  color: #4D5053;
  font-weight: 400;
  letter-spacing: 0.36px;
}

.cards_item:not(:last-child) {
  margin-right: 70px;
}

.kitchen_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 140px;
}

.block_text {
  width: 43%;
}
.block_text .kitchen_title {
  margin: 40px 0;
  font-family: "DM Serif Display";
  font-size: 50px;
  line-height: 65px;
  color: #292F36;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.block_text .kitchen_text {
  margin-bottom: 30px;
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
  color: #4D5053;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.block_text .call {
  display: flex;
  margin-bottom: 80px;
}
.block_text .call .call_item {
  width: 95px;
  height: 95px;
  background-color: #F4F0EC;
  border-radius: 100px;
}
.block_text .call .call_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
.block_text .call .call_text a {
  font-family: "Jost";
  font-size: 24px;
  line-height: 36px;
  color: #4D5053;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.block_text .call .call_text span {
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
  color: #4D5053;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.block_text .call_link {
  background-color: #292F36;
  padding: 22px 67px 22px 35px;
  border: 2px solid #292F36;
  border-radius: 18px;
  margin-top: 35px;
  font-family: "Jost";
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 0.72px;
}

.block_img {
  width: 50%;
}

.section_people {
  background-color: #F4F0EC;
  border-radius: 70px;
}
.section_people .people_title {
  padding: 103px 0 50px;
  margin: 0 auto;
}
.section_people .people_title .title {
  width: 100%;
  max-width: 480px;
  text-align: center;
  margin: 0 auto;
  font-family: "DM Serif Display";
  font-size: 45px;
  line-height: 58px;
  color: #292F36;
  font-weight: 400;
  letter-spacing: 0.22px;
}

.people_cards {
  display: flex;
  flex-wrap: wrap;
  padding: 45px 0px 120px 0px;
}
.people_cards .cards_wrapper {
  width: 100%;
  max-width: 355px;
  background-color: white;
  border-radius: 30px;
  padding: 50px 0 45px 35px;
}
.people_cards .people {
  display: flex;
  margin-bottom: 25px;
}
.people_cards .people img {
  width: 100%;
  max-width: 77px;
  border-radius: 50%;
}
.people_cards .people_text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.people_cards .people_card_title {
  font-family: "DM Serif Display";
  font-size: 25px;
  line-height: 38px;
  color: #292F36;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.people_cards .people_card_subtitle {
  font-family: "Jost";
  font-size: 18px;
  line-height: 27px;
  color: #4D5053;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.people_cards .people_card_text {
  width: 100%;
  max-width: 275px;
  font-family: "Jost";
  font-size: 20px;
  line-height: 30px;
  color: #4D5053;
  font-weight: 400;
  letter-spacing: 0.22px;
}

.cards_wrapper:not(:last-child) {
  margin-right: 15px;
}

.section_brand {
  padding: 140px 0 115px 0;
}
.section_brand .wrapper_brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.section_brand .wrapper_brand a:hover {
  transform: scale(1.2);
}
.section_brand .wrapper_brand .logo_home {
  width: 100%;
  max-width: 132px;
}
.section_brand .wrapper_brand .logo_style {
  width: 100%;
  max-width: 103px;
}
.section_brand .wrapper_brand .logo_brand {
  width: 100%;
  max-width: 164px;
}
.section_brand .wrapper_brand .logo_nature {
  width: 100%;
  max-width: 145px;
}
.section_brand .wrapper_brand .logo_classic {
  width: 100%;
  max-width: 117px;
}

.section_projects {
  padding-bottom: 140px;
}
.section_projects .projects_block {
  text-align: center;
  width: 100%;
  max-width: 785px;
  margin: 0 auto;
}
.section_projects .projects_title {
  margin-bottom: 20px;
  font-family: "DM Serif Display";
  font-size: 47px;
  line-height: 62px;
  color: #292F36;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.section_projects .projects_text {
  margin-bottom: 70px;
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
  color: #4D5053;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.section_projects .projects_cards {
  display: flex;
  flex-wrap: wrap;
}
.section_projects .projects_cards:not(:last-child) {
  margin-bottom: 60px;
}
.section_projects .projects_cards_item .cards_img {
  width: 100%;
  min-width: 590px;
}
.section_projects .projects_cards_item .projects_cards_text {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.section_projects .projects_cards_item .text_block_title {
  font-family: "DM Serif Display";
  font-size: 24px;
  line-height: 38px;
  color: #292F36;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.section_projects .projects_cards_item .text_block_subtitle {
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
  color: #4D5053;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.section_projects .projects_cards_item .arrow {
  width: 70px;
  height: 70px;
  background: #F4F0EC;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_projects .projects_cards_item .arrow .img_arrow {
  width: 9px;
  height: 16px;
}

.projects_cards_item:not(:last-child) {
  margin-right: 20px;
}

.section_results {
  background-color: #F4F0EC;
  padding: 140px 0;
}
.section_results .results_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section_results .content_card {
  width: 100%;
  max-width: 288px;
  border-right: 1px solid #CDA274;
  text-align: center;
}
.section_results .content_number {
  display: block;
  margin-bottom: 50px;
  font-family: "DM Serif Display";
  font-size: 85px;
  line-height: 128px;
  color: #CDA274;
  font-weight: 400;
  letter-spacing: 1.7px;
}
.section_results .contant_text {
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
  color: #4D5053;
  font-weight: 400;
  letter-spacing: 0.22px;
}

.section_blogs {
  padding: 140px 0;
}
.section_blogs .blogs_content {
  text-align: center;
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
}
.section_blogs .blogs_content_title {
  margin-bottom: 20px;
  font-family: "DM Serif Display";
  font-size: 48px;
  line-height: 62px;
  color: #292F36;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.section_blogs .blogs_content_text {
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
  color: #4D5053;
  font-weight: 400;
  letter-spacing: 0.22px;
}

.section_contact {
  background-color: #292F36;
  border-radius: 70px;
  padding: 100px 0 95px 0;
}
.section_contact .contact_block {
  text-align: center;
  margin: 0 auto;
}
.section_contact .contact_block_title {
  margin-bottom: 10px;
  font-family: "DM Serif Display";
  font-size: 50px;
  line-height: 75px;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.section_contact .contact_block_text {
  display: block;
  margin-bottom: 70px;
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.section_contact .contact_block_button {
  background: #CDA274;
  border: 2px solid #CDA274;
  box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  padding: 20px 67px 20px 35px;
  margin-top: 30px;
  font-family: "Jost";
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 0.22px;
}

.footer {
  padding: 130px 0 110px 0;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 35px;
}
.footer .footer_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .footer_logo {
  width: 100%;
  max-width: 326px;
}
.footer .footer_logo img {
  width: 100%;
  max-width: 177px;
  margin-bottom: 15px;
}
.footer .footer_text {
  margin-bottom: 10px;
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
  color: #4D5053;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.footer .footer_title {
  margin-bottom: 20px;
  font-family: "DM Serif Display";
  font-size: 25px;
  line-height: 38px;
  color: #292F36;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.footer .footer_pages, .footer .footer_explore {
  width: 100%;
  max-width: 150px;
}
.footer .footer_contact {
  width: 100%;
  max-width: 337px;
}
.footer .footer_contact a {
  display: block;
  margin-bottom: 30px;
}
.footer .footer_list {
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
  color: #4D5053;
  font-weight: 400;
  letter-spacing: 0.22px;
}
.footer .footer_list li {
  padding-bottom: 30px;
}

.footer_subtitle {
  display: block;
  padding-bottom: 35px;
  text-align: center;
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
  color: #4D5053;
  font-weight: 400;
  letter-spacing: 0.22px;
}

.footer_link {
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
  color: #CDA274;
  font-weight: 400;
  letter-spacing: 0.22px;
}

.nav_link:hover {
  color: #CDA274;
}